@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap')

$red: #f94555 
$paleRed: #f2636b
$darkRed: #672e37
$gray: #7e7c7d
$purplish: #3c3a4c

$menuWidth: 350px
$menuMargin: 1vh
$switchSideBtn: 10vh
$mapIconHeight: 10vh
$borderRadius: 1rem

* 
	margin: 0
	padding: 0
	box-sizing: border-box

	font-size: 32px
	color: white
	text-decoration: none
	font-family: 'Share Tech Mono', monospace

body 
	background-color: $purplish


#toolMenu
	position: absolute
	top: 0
	height: 100vh
	width: $menuWidth
	box-shadow: 3px 0 $paleRed

#mapIcon
	margin: $menuMargin
	display: flex
	justify-content: center
	width: calc(100% - $switchSideBtn - $menuMargin * 3)
	height: $mapIconHeight
	border-radius: $borderRadius
	overflow: hidden
	outline: 3px solid $paleRed

#mapImg
	width: 100%
	height: 100%
	background-size: calc(1920px / 1.5), calc(1080px / 1.5)
	background-position: 50%, 50%
	filter: blur(2px)
	-webkit-filter: blur(2px)

#mapTitle
	position: absolute
	top: 0
	line-height: calc($mapIconHeight + $menuMargin * 2)
	text-shadow: 1px 1px $purplish, 1px -1px $purplish, -1px 1px $purplish, -1px -1px $purplish
	text-transform: uppercase
	font-size: 1.5rem
	pointer-events: none

#switchSide
	position: relative
	display: flex 
	justify-content: center
	left: calc($menuWidth - $switchSideBtn - $menuMargin)
	top: calc(($mapIconHeight + $menuMargin) * -1)
	width: $switchSideBtn
	height: $switchSideBtn
	border-radius: $borderRadius
	outline: 3px solid $paleRed
	cursor: pointer

	i 
		font-size: 1.5rem
		line-height: $mapIconHeight

#tools 
	margin: $menuMargin
	text-transform: uppercase

#toolCont
	display: grid
	gap: calc($menuMargin * 4)
	grid-template: repeat(1, 1fr) / repeat(5, 1fr)
	margin: $menuMargin
	width: $menuWidth
	height: calc($menuWidth / 5)

	i
		height: 100%
		aspect-ratio: 1/1
		outline: 3px solid $paleRed
		padding: calc(1rem / 2) 0 0 calc(1rem / 2)
		cursor: pointer

#mapCont
	position: absolute
	top: 12.5vh
	left: calc((100vw - 75vh) / 2)