@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 32px;
  color: white;
  text-decoration: none;
  font-family: "Share Tech Mono", monospace;
}

body {
  background-color: #3c3a4c;
}

#toolMenu {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 350px;
  box-shadow: 3px 0 #f2636b;
}

#mapIcon {
  margin: 1vh;
  display: flex;
  justify-content: center;
  width: calc(100% - 10vh - 3vh);
  height: 10vh;
  border-radius: 1rem;
  overflow: hidden;
  outline: 3px solid #f2636b;
}

#mapImg {
  width: 100%;
  height: 100%;
  background-size: 1280px, 720px;
  background-position: 50%, 50%;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

#mapTitle {
  position: absolute;
  top: 0;
  line-height: 12vh;
  text-shadow: 1px 1px #3c3a4c, 1px -1px #3c3a4c, -1px 1px #3c3a4c, -1px -1px #3c3a4c;
  text-transform: uppercase;
  font-size: 1.5rem;
  pointer-events: none;
}

#switchSide {
  position: relative;
  display: flex;
  justify-content: center;
  left: calc(350px - 10vh - 1vh);
  top: -11vh;
  width: 10vh;
  height: 10vh;
  border-radius: 1rem;
  outline: 3px solid #f2636b;
  cursor: pointer;
}
#switchSide i {
  font-size: 1.5rem;
  line-height: 10vh;
}

#tools {
  margin: 1vh;
  text-transform: uppercase;
}

#toolCont {
  display: grid;
  gap: 4vh;
  grid-template: repeat(1, 1fr)/repeat(5, 1fr);
  margin: 1vh;
  width: 350px;
  height: 70px;
}
#toolCont i {
  height: 100%;
  aspect-ratio: 1/1;
  outline: 3px solid #f2636b;
  padding: 0.5rem 0 0 0.5rem;
  cursor: pointer;
}

#mapCont {
  position: absolute;
  top: 12.5vh;
  left: calc((100vw - 75vh) / 2);
}
