@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&display=swap');

:root {
	--ash-gray: #b2beb5;
	--asparagus: #87a96b;
	--diamond-size: 11vh;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	
	color: black;
	text-decoration: none;
	font-family: 'Courier Prime', sans-serif;
}

body {
	background-color: black;
}

#link-container, #container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#container {
	width: 18vh;
	height: 90vh;
	margin: 5vh;
	align-items: center;
}

.diamond {
	transition: opacity 0.2s, background-color 0.2s, transform 0.2s;
	transform: rotate(45deg);
	height: var(--diamond-size);
	width: var(--diamond-size);
	outline: 10px solid black;
	background-color: var(--ash-gray);
}

.diamond:hover {
	transform: scale(1.2) rotate(45deg);
	background-color: var(--asparagus);
}

#link-container {
	z-index: -1;
	transition: width 0.2s;
	position: absolute;
	left: 8vw;
	width: 250px;
	height: 90vh;
}

.link {
	opacity: 0;
	position: relative;
	width: 0px;
	transition: opacity 0.5s, width 0.3s;
	font-size: 50px;
	text-align: end;
	padding: 20px;
	background-color: var(--ash-gray);
}