body {
	overflow: hidden;
}


/*-------------------- GRID DECLARATIONS --------------------*/
.grid-container {
	overflow: hidden;
	display: grid;
	grid-template: repeat(10, 1fr) / repeat(20, 1fr);
	gap: 2vw;
	height: 100vh;
	width: 100vw;
}

.grid-item {
	transform: translateY(300%);
	aspect-ratio: 1080/1626;
	background-size: cover;
    background-position: center;
    border-radius: 50px;
    transition: box-shadow ease-in-out 0.5s, transform cubic-bezier(.09, .07, .44, 1) 2s;
}

.grid-item:hover {
	box-shadow: 10px 10px 10px black;
}


/*-------------------- GRID ELEMENTS --------------------*/
#home-button, #scroll-button {
	z-index: 1;
	opacity: 0;
	position: relative;
	top: 50%;
	border-radius: 50%;
	background-color: hotpink;
	font-size: 30px;
	transition: opacity linear 0.5s;
}

#home-button {
	grid-area: 1 / 20;
	padding: 11px;
}

#scroll-button {
	grid-area: 9 / 10;
	padding: 15px 13px 15% 13px;
}

a:hover + i {
	scale: 1.1;
}

#one {
	grid-area: 1 / 1 / span 2 / span 5;
	background-image: url('../images/dove.png');
}

#two {
	grid-area: 5 / 5 / span 2 / span 4;
	background-image: url('../images/duck.png');
}

#three {
	grid-area: 3 / 17 / span 2 / span 5;
	background-image: url('../images/whiteDove.png');
}

#four {
	grid-area: 2 / 15 / span 2 / span 3;
	background-image: url('../images/duck2.png');
}

#five {
	grid-area: 2 / 9 / span 2 / span 5;
	background-image: url('../images/train.png');
}
