/*-------------------- GRID DECLARATIONS --------------------*/
.grid-container {
	overflow: hidden;
	display: grid;
	grid-template: repeat(10, 1fr) / repeat(16, 1fr);
	gap: 2vw;
	height: 100vh;
	width: 100vw;
}

.grid-item {
	transform: translateY(300%);
	aspect-ratio: 1080/1626;
	background-size: cover;
    background-position: center;
    border-radius: 50px;
    transition: transform cubic-bezier(.09, .07, .44, 1) 2s;
}


/*-------------------- GRID ELEMENTS --------------------*/
#one {
	grid-area: 1 / 1 / span 2 / span 4;
	background-image: url('../images/dove.png');
}

#two {
	grid-area: 5 / 3 / span 2 / span 3;
	background-image: url('../images/duck.png');
}

#three {
	grid-area: 3 / 13 / span 2 / span 4;
	background-image: url('../images/whiteDove.png');
}

#four {
	grid-area: 2 / 12 / span 2 / span 2;
	background-image: url('../images/duck2.png');
}

#five {
	grid-area: 2 / 7 / span 2 / span 4;
	background-image: url('../images/train.png');
}
