body {
	overflow: hidden;
}


/*-------------------- GRID BOILERPLATE --------------------*/
.grid-container {
	overflow: hidden;
	display: grid;
	grid-template: repeat(10, 1fr) / repeat(20, 1fr);
	gap: 2vw;
	height: 100vh;
	width: 100vw;
}

.grid-item {
	transform: translateY(300%);
	aspect-ratio: 1080/1626;
	background-size: 100%;
    background-position: center;
    border-radius: 50px;
    transition: box-shadow ease-in-out 0.3s, background-size ease-in-out 0.3s, transform cubic-bezier(.09, .07, .44, 1) 2s;
}



/*-------------------- GRID ELEMENTS --------------------*/
.grid-item:hover {
	background-size: 105%;
	box-shadow: 5px 5px 20px black;
}

#home-button, #scroll-button {
	z-index: 1;
	opacity: 0;
	position: relative;
	top: 50%;
	border-radius: 50%;
	background-color: hotpink;
	font-size: 25px;
	transition: opacity linear 0.5s, transform cubic-bezier(.09, .07, .44, 1) 0.5s;
	display: flex;
	align-items: center;
	justify-content: center;
}

#home-button {
	grid-area: 1 / 20;
}

#scroll-button {
	cursor: pointer;
	grid-area: 9 / 10;
	
}

i {
	transition: all ease-in-out 0.2s;
}

a:hover i, #scroll-button:hover i {
	scale: 1.2;
}

a:not(:hover) i {
	scale: 1;
}

#one {
	grid-area: 1 / 1 / span 2 / span 5;
	background-image: url('../images/dove.webp');
}

#two {
	grid-area: 5 / 5 / span 2 / span 4;
	background-image: url('../images/duck.webp');
}

#three {
	grid-area: 3 / 17 / span 2 / span 5;
	background-image: url('../images/whiteDove.webp');
}

#four {
	grid-area: 2 / 15 / span 2 / span 3;
	background-image: url('../images/duck2.webp');
}

#five {
	grid-area: 2 / 9 / span 2 / span 5;
	background-image: url('../images/train.webp');
}
