@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&display=swap');

:root {
	--pink: #892858;
	--light-pink: #FF69B4;
	--dark-pink: #5b213e;
	--background-color: #010d14;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	
	color: black;
	text-decoration: none;
	font-family: 'Courier Prime', sans-serif;
}

body {
	background-color: var(--background-color);
}