@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&display=swap');

:root {
	--ash-gray: #b2beb5;
	--asparagus: #87a96b;
	--background-color: #010d14;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	
	color: black;
	text-decoration: none;
	font-family: 'Courier Prime', sans-serif;
}

body {
	background-color: var(--background-color);
}